body{
    text-align: center;
    margin: 0px;
    font-family: brandon-grotesque,HelveticaNeue-Light,"Helvetica Neue Light","Helvetica Neue",Helvetica,Arial,"Lucida Grande",sans-serif;
    color: #40514e;
}
h1{
    font-family: 'Sacramento', cursive;
    font-size: 5.625rem;
    margin: 50px auto 0px auto;
    color:  #66BFBF;
}
h2{
    font-size: 2.5rem;
    color:  #66BFBF;
    font-weight: normal;
    padding-bottom: 10px;
}
h3{
    color: #11999E;
}
span{
    text-decoration: underline;
}
.top-container{
    background-color: #e4f9f5;
    padding-top: 100px;
    position: relative;
}
.bottom-container{
    background-color: #66BFBF;
    padding: 50px 0px 20px;
}
.firstCloud{
    position: absolute;
    left: 65%;
    top: 5%;

}
.secondCloud{
    left: 25%;
    position: absolute;
    bottom: 300px;
}
.profile-picture{
    border-radius: 100%;
    width: 25%;
}
a{
    text-decoration: none;
}
a.footer-link{
    color: #11999E;
    margin: 10px 20px;
    font-weight: 400;
    letter-spacing: -1px;
    font-size: 0.95rem;
}

a:hover{
    color: #eaf6f6;
}

.skill-row{
   margin: 100px auto 100px auto;
    width: 50%;
    text-align: left;
}
p{
    line-height: 2;
}
.flutter-img{
    width: 25%;
    float: left;
    margin-right: 25px;
}
.frontend-img{
    width: 25%;
    float: right;
    margin-left: 25px;
}
hr{
    border-top: dotted 6px  #EAF6F6;
    border-bottom: 0px;
    width: 4%;
    margin: 100px auto;
}
.btn{
    background-color: #11999E;
    color: #ffffff;
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 8px;
    border-radius: 5px;
    display: inline-block;  
}


.bottom-container p{
    color: #EAF6F6;
}
.middle-container{
    margin: 100px 0px;
}

p.intro{
    width: 30%;
    margin: auto;
}
p.contact-message{
    margin: 40px auto 60px auto;
    width: 40%;
}

.copyright{
    color: #eaf6f6;
    font-size: 0.75rem;
}