body{
    text-align: center;
    margin: 0px;
}
span{
    text-decoration: underline;
}
.top-container{
    background-color: #e4f9f5;
}
.firstCloud{
    margin-top: 50px;
    margin-left: 40%;
}
.secondCloud{
    left: 25%;
    position: absolute;
    
}